<app-ui-top-navigation></app-ui-top-navigation>

<div style="padding: 100px 15px 100px;">
  <router-outlet></router-outlet>
</div>

<footer>
<a href="https://www.facebook.com/paddy.flynn.94"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
<a href="https://twitter.com/ThePmyster"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
<a href="https://ie.linkedin.com/in/patrick-flynn-514a1689"><i id="social-ln" class="fa fa-linkedin-square fa-3x social"></i></a>
<a href="mailto:pflynn210392@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</footer>