<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-lg-6 text-left">
                <img class="img-circle" src="../../content/img/websiteHeadBW.jpg">
                <span class="text-left">
                    <h2>About Me:</h2>
                    <p class="text-left">Software Developer with over 4 years experience exposed to various platforms, languages, design standards amongst varying teams and management styles. Highly proficient in starting anew within large scale projects under own tuition and initiative. Prompt adaptability to different projects a key strength. Proven ability to manage and complete projects to the highest standard, with meticulous attention to detail and within agreed deadlines.</p>
                </span>
            </div>
        </div>
    </div>
</div>
